{% extends "base.html" %}

{% from 'macros.html' import view_score_header, view_measure, edit_measure, view_control with context%}

{% block content %}
    {{ view_score_header(score) }}
    {% for measure in measures %}
        {% if not append and measure.id == current_measure.id %}
            {{ edit_measure(form) }}
        {% else %}
            {{ view_measure(measure) }}
        {% endif %}
    {% endfor %}
    {% if append %}
        {{ edit_measure(form) }}
    {% endif %}
    <div class="page-controls mx-auto ">
        {{ view_control(url_for('scores.score', score_path=score.path), "fa-check fa-lg") }}
    </div>
{% endblock content %}