{% extends "base.html" %}

{% from 'macros.html' import view_submit_button %}
{% from 'macros.html' import view_post_title %}
{% from 'macros.html' import view_control %}

{% block content %}
<div class="container-md">
<div class="card p-4 mb-4 mx-auto shadow">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="text-center">{{ view_post_title(post.name, post.path) }}</div>
        <div class="text-center">Are you sure you want to delete this post?</div>
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.delete(class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group">
            <div class="page-controls">
                    {{ view_control(url_for('posts.post', post_path=post.path), 'fa-undo') }}
                    {{ view_submit_button('fa-times') }}
            </div>
        </div>
    </form>
</div>
</div>
{% endblock content %}