{% extends "base.html" %}

{% from 'macros.html' import view_submit_button %}
{% from 'macros.html' import view_score_title %}
{% from 'macros.html' import view_control %}

{% block content %}
<div class="container-md">
<div class="card p-4 mb-4 mx-auto shadow">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>Are you sure you want to delete</div>
        <div>
            <a href="{{ url_for('scores.measure', score_path=measure.score.path, measure_path=measure.path) }}" class="measure-title">{{ measure.name }}</a>
        </div>
        <div>from the score {{ view_score_title(score.name, score.path) }}?</div>
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.delete(class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group">
            <div class="page-controls">
                    {{ view_control(url_for('scores.score', score_path=score.path), 'fa-undo') }}
                    {{ view_submit_button('fa-times') }}
            </div>
        </div>
    </form>
</div>
</div>
{% endblock content %}