{% extends "base.html" %}

{% from 'macros.html' import view_measure, view_control, view_score_title, view_composer_name with context %}


{% block content %}
    <div class="container-md">
        <div class="card">
            <div class="the-end">Congratulations!</div>
        </div>
    </div>
    <div class="container-md">
        <div class="card">
            <div class="p content">You've completed the score:</div>
            <div class="p font-heading">
                {{  view_score_title(score.name, score.path) }}
            </div>
            <div class="p byline">
                {{ view_composer_name(score.composer) }}
            </div>
            <div class="p content">Next, you might want to:</div>
                <div class="ending-actions">
                    {% if score.composer == current_user %}
                        <div class="content">Edit the score so it's even better next time:</div>
                        <div class="page-controls">
                            {{ view_control(url_for('scores.update_score', score_path=score.path), "fa-pencil-alt") }}
                        </div>
                        <div class="content">Play it all over again.</div>
                        <div class="page-controls">
                            {{ view_control(url_for('scores.measure', score_path=score.path, measure_path=score.measures.0.path, autoplay='true'), "fa-play") }}
                        </div>
                    {% else %}
                        <div class="content">Star the score so you can find it later.</div>
                        <div class="page-controls">
                            {{ view_control(url_for('users.favorites'), "fa-star") }}
                        </div>
                        <div class="content">Create your own variation of the score.</div>
                        <div class="page-controls">
                            {{ view_control(url_for('scores.copy_score', score_path=score.path), "fa-copy") }}
                        </div>
                    {% endif %}
                        <div class="content">Have a drink of water.</div>
                        <div class="page-controls">
                            {{ view_control(url_for('main.not_implemented'), "fa-glass-whiskey") }}
                        </div>
                        <div class="content">Go pee.</div>
                        <div class="page-controls">
                            {{ view_control(url_for('main.not_implemented'), "fa-toilet") }}
                        </div>
                </div>
        </div>
    </div>
{% endblock content %}