{% extends "base.html" %}

{% from 'macros.html' import view_post_row, view_score_header_row, view_control, view_empty_control, view_composer_name, view_user_summary with context %}

{% block content %}

    <div class="container-md">
        <div class="card">
                <div class="p font-sub-heading  serif">Favorites</div>
        </div>
    </div>

    {% for fav in favorites %}
        {% if fav is Score %}
            {{ view_score_header_row(fav) }}
        {% elif fav is Post %}
            {{ view_post_row(fav) }}
        {% elif fav is User %}
            {{ view_user_summary(fav) }}
        {% endif %}
    {% endfor %}

{% endblock content %}