{% extends "base.html" %}

{% block content %}
<div class="container-md ">
      <div class="home-middle">
{#          <p class="text-center font-sub-heading mb-2 definition">welcome to</p>#}
{#          <div class="text-center home-label"><span>kamagapē</span></div>#}
{#          <p class="slogan text-center mt-5">{{ slogan }}</p>#}
          <div class="mt-3">
              <p class="text-center">
                  <span class="word">kama</span>
                  <span class="pronunciation">/'ka.mə/ -</span>
                  <span class="definition">desire, wish, longing</span>
              </p>
          </div>
          <div class="mt-2">
              <p class="text-center">
                  <span class="word">agape</span>
                  <span class="pronunciation">/ə'ga:peɪ/ -</span>
                  <span class="definition">the highest form of love</span>
              </p>
          </div>
      </div>
</div>

    <div class="container-md">
    <div class="card">
        <p class="content">
            kamagapē helps couples explore, practice, and communicate about their intimacy. So that the physical side of their relationship enhances the love and connection they share.
        </p>
    </div>
    </div>
    <div class="container-md">
    <div class="card">
        <p class="content">
            If this is your first time here, welcome! You might want to check out <a class="home-link" href="{{ url_for('scores.score', score_path='Getting-Started__by__i') }}"><span>Getting Started</span></a>. Or, click on the music notes at the top left, and browse around.
        </p>
    </div>
    </div>
    <div class="container-md">
        <div class="card">
            <p class="content">
                kamagapē is currently in private beta. If you would like to request an account, or to find out more information, please email us at <a class="home-link" href="mailto:m_and_i@kamagape.com">m_and_i@kamagape.com</a>
            </p>
        </div>
    </div>
{% endblock content %}