{% extends "base.html" %}

{% from 'macros.html' import view_measure %}
{% from 'macros.html' import view_control %}
{% from 'macros.html' import view_score_title %}
{% from 'macros.html' import view_composer_name %}


{% block content %}
    <div class="container-md">
        <div class="card mx-auto shadow">
            <div class="p the-end">We're Sorry.</div>
            <div class="content text-center">This functionality is still in beta testing.</div>
        </div>
    </div>
{% endblock content %}