{% extends "base.html" %}

{% from 'macros.html' import view_score_header, view_score_header_row, view_control, view_empty_control, view_composer_name, view_for_players %}

{% block content %}

    {% if filtered_on %}
    <div class="container-md">
        <div class="card shadow">
            {% if filtered_on is User %}
                <div class="p font-sub-heading serif">Scores{{ view_composer_name(filtered_on) }}</div>
            {% elif filtered_on is ForPlayers %}
                <div class="p font-sub-heading  serif">Scores{{ view_for_players(filtered_on) }}</div>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% for score in result.items %}
{#        {{ view_score_header(score) }}#}
        {{ view_score_header_row(score) }}
    {% endfor %}

    {% if result.has_prev or result.has_next %}
        <div class="container-md">
        <div class="card shadow">
            <div class="page-controls">
                {% if result.has_prev %}
                    {{ view_control(url_for('scores.scores', page=result.current_page - 1), "fa-step-backward") }}
                {% else %}
                    {{ view_empty_control() }}
                {% endif %}
                {% if result.has_next %}
                        {{ view_control(url_for('scores.scores', page=result.current_page + 1), "fa-step-forward") }}
                {% else %}
                    {{ view_empty_control() }}
                {% endif %}
            </div>
        </div>
        </div>
    {% endif %}

{% endblock content %}