{% extends "base.html" %}

{% from 'macros.html' import view_theme_name %}

{% block content %}

    <div class="container-md">
        <div class="card">
            <span class="font-sub-heading">all themes</span>
        </div>
    </div>

    <div class="container-md">
        <div class="card">
            {% for name, count in results %}
                <div class="content">
                    {{ view_theme_name(name) }}
                    <span>
                        {{ count }}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}