@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Mulish:ital,wght@0,300..700;1,300..700&display=swap');

/*********************************/
/*  colors                   */
/*********************************/


/* alternate blacks and backgrounds
    deep purple
    --black: hsla(234, 51%, 7%, 1);
    --background: hsla(234, 51%, 2%, 1);
    --less-white: #9FA0A5;

    from repl.it
    --black: hsla(229, 40%, 8%, 1);
    --background: hsla(225, 20%, 16%, 1);

    chill violets
    --black: hsla(267, 51%, 7%, 1);
    --background: hsla(267, 30%, 12%, 1);

    blue and violet (current prod)
    --black: hsla(234, 51%, 7%, 1);
    --background: hsla(283, 16%, 8%, 1);
    --elevated-background: hsla(283, 22%, 12%, 1);
    --accent-1:  hsla(204, 35%, 50%, 1);
    --accent-2: hsla(151, 29%, 46%, 1);
    --accent-3: hsla(273, 29%, 46%, 1);
    --accent-4: hsla(3, 29%, 46%, 1);

    pleasant blue based on str and rpl
    --black: hsla(209, 70%, 16%, 1);
    --background: hsla(209, 50%, 12%, 1);
    --elevated-background: hsla(209, 70%, 22%, 1);
    --accent-1:  hsla(208, 57%, 63%, 1);
     box-shadow:
             0 2em 4em -.8em hsla(209, 70%, 5%, .4),
             0 1.2em 2em -1.2em hsla(209, 70%, 5%, .35),
             0 -.7em 2em -.5em hsla(209, 70%, 5%, .25);

    accents 2020-12-26
    --accent-1:  hsla(204, 57%, 55%, 1);
    --accent-2: hsla(151, 39%, 50%, 1);
    --accent-3: hsla(273, 48%, 63%, 1);
    --accent-4: hsla(3, 33%, 53%, 1);
    --accent-5: rgba(255, 213, 98, .8);

    starting accents
    --accent-1: hsla(204, 81%, 63%, .9)
    --gradient-1: linear-gradient(
            to top,
            rgba(48,143,210,.8) 15%,
            rgba(40,172,251,.8) 25%,
            rgba(73,210,249,.8) 50%,
            rgba(73,210,249,.8) 55%,
            rgba(73,210,249,.8) 60%,
            rgba(112,238,254,.8) 70%,
            rgba(146,237,254,.8) 90%);
    --accent-2: hsla(150, 81%, 80%, .8);
    --gradient-2: linear-gradient(to bottom,  #a8ff78, #78ffd6);
    --accent-3: hsla(270, 81%, 80%, .9);
    --accent-4: hsla(15, 100%, 71%, .8);
    --accent-5: rgba(255, 213, 98, .8);
 */

:root {
    --max-width: 70ch; /* 75 for easy reading, plus 2em on each side for card padding */
    --white: rgba(255,255,255,.80);
    --less-white: hsla(151, 39%, 100%, .55);
    --even-less-white: rgba(255, 255, 255, .39);
    --very-little-white: rgba(255, 255, 255, .15);
    /*--black: #000;*/
    /*--black: hsla(280, 62%, 4%, 1);*/
    /*--background: #121212;*/
    --black: hsla(234, 51%, 7%, 1);
    --background: hsla(234, 51%, 6%, 1);
    --elevated-background: hsla(234, 51%, 11%, 1);
    --transparent: rgba(0,0,0,0);
    /* blue */
    --accent-1:  hsla(204, 57%, 55%, 1);
    --gradient-1: linear-gradient(
            to top,
            rgba(48,143,210,.8) 15%,
            rgba(40,172,251,.8) 25%,
            rgba(73,210,249,.8) 50%,
            rgba(73,210,249,.8) 55%,
            rgba(73,210,249,.8) 60%,
            rgba(112,238,254,.8) 70%,
            rgba(146,237,254,.8) 90%);
    /* green */
    --accent-2: hsla(151, 39%, 50%, 1);
    --gradient-2: linear-gradient(to bottom,  #a8ff78, #78ffd6);
    /* purple */
    --accent-3: hsla(273, 48%, 63%, 1);
    /* orange */
    /*--accent-4: hsla(3, 33%, 53%, 1);*/
    --accent-4: hsla(11, 57%, 60%, .9);
    /* yellowish */
    --accent-5: rgba(255, 213, 98, .8);
    --font-heading: Comfortaa, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-content: Mulish, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-small: .8rem;
    --font-regular: 1rem;
    --font-large: 1.25rem;
    --font-extra-large: 1.5rem;
    /*--font-large: 1rem;*/
    /*--font-extra-large: 1rem;*/
    --font-extra-extra-large: 1.75rem;
    --font-weight-heading: 400;
    --font-weight-content: 300;
    --transition: all .3s ease;
    --spacing-none: 0px;
    --spacing-small: .5rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;
    --spacing-extra-large: 2rem;
    --heading-text-shadow: 0 1px 2px black;
}

/*********************************/
/*  typography                   */
/*********************************/

.font-metadata {
    font-size: var(--font-small);
    line-height: 1.5em;
    font-weight: 300;
}

.font-content {
    font-size: var(--font-regular);
    line-height: 1.65em;
}

.font-sub-heading {
    font-size: var(--font-large);
    line-height: 1.3em;
    font-weight: var(--font-weight-heading);
}

.font-heading {
    font-size: var(--font-extra-large);
    font-weight: var(--font-weight-heading);
    line-height: 1.3em;
}

.font-context {
    font-size: var(--font-regular);
    line-height: 1.3em;
    font-weight: var(--font-weight-heading);
    font-family: var(--font-heading);
    text-align: center;
}

/* fix line heights */
.small span,
.regular span,
.large span,
.extra-large span,
.extra-extra-large span {
    display: inline-block;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-decoration-style: solid;
}

/* macros are breaking out of p elements.
   using div's with a 'p' class instead.
 */
p,
.p {
    margin-top: var(--spacing-none);
    margin-right: var(--spacing-none);
    margin-left: var(--spacing-none);
    margin-bottom: var(--spacing-medium);
    padding-top: var(--spacing-none);
    padding-right: var(--spacing-none);
    padding-left: var(--spacing-none);
    padding-bottom: var(--spacing-none);
}

ul, ol {
    margin-top: var(--spacing-none);
    margin-right: var(--spacing-none);
    margin-left: var(--spacing-none);
    margin-bottom: var(--spacing-medium);
    padding-top: var(--spacing-none);
    padding-right: var(--spacing-none);
    padding-left: var(--spacing-large);
    padding-bottom: var(--spacing-none);
}

p:last-child,
.p:last-child,
ul:last-child,
ol:last-child,
.form-group:last-child {
    margin-bottom: var(--spacing-none);
}

b, strong {
    font-weight: 500;
}

/*********************************/
/*  alert                        */
/*********************************/

.alert {
    background-color: var(--black);
    color: var(--less-white);
    max-width: var(--max-width);
}

.alert-dismissible .close {
    background-color: var(--black);
    color: var(--less-white);
    border-radius: 50%;
}

.alert-success,
.alert-primary,
.alert-secondary,
.alert-info {
    border-radius: 0px;
    border-color: var(--accent-1);
    border-left: none;
    border-right: none;
}

.alert-warning,
.alert-danger {
    border-radius: 0px;
    border-color: var(--accent-5);
    border-left: none;
    border-right: none;
}

.close svg {
    border-radius: 50%;
    box-shadow: 0px 0px 8px 2px var(--accent-1);
}

.alert-warning .close svg,
.alert-danger .close svg {
    box-shadow: 0px 0px 8px 2px var(--accent-5);
}



/*********************************/
/*  blockquote                   */
/*********************************/

blockquote {
    font-style: italic;
    font-size: var(--font-regular);
    margin-top: var(--spacing-none);
    margin-bottom: var(--spacing-medium);
    margin-left: var(--spacing-small);
    padding-left: var(--spacing-medium);
    border-left: 2px solid var(--accent-3);
}


/*********************************/
/*  body                         */
/*********************************/

body {
    min-height: 100vh;
    background-color: var(--black);
    /*background-image: linear-gradient(90deg, hsla(234, 8%, 5%, 1), hsla(234, 8%, 11%, 1));*/
    font-family: var(--font-content);
    line-height: 1.5em;
}


main {
    min-height: 90vh;
    padding-bottom: 4rem;
}


/*********************************/
/*  byline                       */
/*********************************/

.byline {
    font-family: var(--font-heading);
    margin-top: -.8em;
}


/*********************************/
/*  card                         */
/*********************************/

.card {
    background-color: var(--background);
    color: var(--less-white);
    max-width: var(--max-width);
    margin: auto;
    margin-bottom: var(--spacing-large);
    padding: var(--spacing-large);
    border-top: solid 1px hsla(204, 57%, 55%, .2);
    border-bottom: solid 1px hsla(204, 57%, 55%, .2);
    border-radius: 0px;
    box-shadow:
            0 1rem 2rem -1.5rem hsla(204, 57%, 55%, .4),
            0 -1rem 2rem -2rem hsla(204, 57%, 55%, .4),
            -2em 0 2em -2.6em hsla(204, 57%, 55%, .4),
            2em 0 2em -2.6em hsla(204, 57%, 55%, .4),
            -4em 0 5em -4em hsla(204, 57%, 55%, .2),
            4em 0 5em -4em hsla(204, 57%, 55%, .2);
}


@media screen and (max-width: 700px) {
  .card {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
  }
}

.green-card {
    border-top: solid 1px hsla(151, 39%, 50%, .3);
    border-bottom: solid 1px hsla(151, 39%, 50%, .3);
    border-radius: 0px;
    box-shadow:
            0 1rem 2rem -1.5rem hsla(151, 39%, 50%, .4),
            0 -1rem 2rem -2rem hsla(151, 39%, 50%, .4),
            -2em 0 2em -2.6em hsla(151, 39%, 50%, .4),
            2em 0 2em -2.6em hsla(151, 39%, 50%, .4),
            -4em 0 5em -4em hsla(151, 39%, 50%, .2),
            4em 0 5em -4em hsla(151, 39%, 50%, .2),
            -8em 0 3em 2em hsla(151, 39%, 50%, .2),
            -11em 0 5em 4em hsla(151, 39%, 50%, .2),
            -15em 0 7em 2em hsla(151, 39%, 50%, .2),
            -20em 0 8em 0em hsla(151, 39%, 50%, .2),
            -25em 0 9em -2em hsla(151, 39%, 50%, .2),
            -30em 0 10em -4em hsla(204, 57%, 55%, .2);
}

.purple-card {
    border-top: solid 1px hsla(273, 48%, 63%, .3);
    border-bottom: solid 1px hsla(273, 48%, 63%, .3);
    border-radius: 0px;
    box-shadow:
            0 1rem 2rem -1.5rem hsla(273, 48%, 63%, .4),
            0 -1rem 2rem -2rem hsla(273, 48%, 63%, .4),
            -2em 0 2em -2.6em hsla(273, 48%, 63%, .4),
            2em 0 2em -2.6em hsla(273, 48%, 63%, .4),
            -4em 0 5em -4em hsla(273, 48%, 63%, .2),
            4em 0 5em -4em hsla(273, 48%, 63%, .2),
            -8em 0 3em 2em hsla(273, 48%, 63%, .2),
            -11em 0 5em 4em hsla(273, 48%, 63%, .2),
            -15em 0 7em 2em hsla(273, 48%, 63%, .2),
            -20em 0 8em 0em hsla(273, 48%, 63%, .2),
            -25em 0 9em -2em hsla(273, 48%, 63%, .2),
            -30em 0 10em -4em hsla(204, 57%, 55%, .2);
}

.orange-card {
    border-top: solid 1px hsla(3, 33%, 53%, .3);
    border-bottom: solid 1px hsla(3, 33%, 53%, .3);
    border-radius: 0px;
    box-shadow:
            0 1rem 2rem -1.5rem hsla(3, 33%, 53%, .4),
            0 -1rem 2rem -2rem hsla(3, 33%, 53%, .4),
            -2em 0 2em -2.6em hsla(3, 33%, 53%, .4),
            2em 0 2em -2.6em hsla(3, 33%, 53%, .4),
            -4em 0 5em -4em hsla(3, 33%, 53%, .2),
            4em 0 5em -4em hsla(3, 33%, 53%, .2),
            8em 0 3em 2em hsla(3, 33%, 53%, .2),
            11em 0 5em 4em hsla(3, 33%, 53%, .2),
            15em 0 7em 2em hsla(3, 33%, 53%, .2),
            20em 0 8em 0em hsla(3, 33%, 53%, .2),
            25em 0 9em -2em hsla(3, 33%, 53%, .2),
            30em 0 10em -4em hsla(204, 57%, 55%, .2);
}

.blue-card {
    border-top: solid 1px hsla(204, 57%, 55%, .3);
    border-bottom: solid 1px hsla(204, 57%, 55%, .3);
    border-radius: 0px;
    box-shadow:
            0 1rem 2rem -1.5rem hsla(204, 57%, 55%, .4),
            0 -1rem 2rem -2rem hsla(204, 57%, 55%, .4),
            -2em 0 2em -2.6em hsla(204, 57%, 55%, .4),
            2em 0 2em -2.6em hsla(204, 57%, 55%, .4),
            -4em 0 5em -4em hsla(204, 57%, 55%, .2),
            4em 0 5em -4em hsla(204, 57%, 55%, .2),
            8em 0 3em 2em hsla(204, 57%, 55%, .2),
            11em 0 5em 4em hsla(204, 57%, 55%, .2),
            15em 0 7em 2em hsla(204, 57%, 55%, .2),
            20em 0 8em 0em hsla(204, 57%, 55%, .2),
            25em 0 9em -2em hsla(204, 57%, 55%, .2),
            30em 0 10em -4em hsla(204, 57%, 55%, .2);
}


/*********************************/
/*  composer                     */
/*********************************/

.composer {
    color: var(--accent-2);
    font-family: var(--font-heading);
    font-weight: var(--font-weight-heading);
}

a.composer:hover {
    color: var(--accent-2);
}


/*********************************/
/*  container                    */
/*********************************/

.container-md {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
}


/*********************************/
/*  content                      */
/*********************************/

.content {
    font-family: var(--font-content);
    color: var(--less-white);
    font-weight: var(--font-weight-content);
    line-height: 1.65;
}

.content a {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: solid;
}

.content a:hover,
.content a:focus {
    color: var(--accent-5);
    text-decoration: underline;
    text-decoration-style: solid;
}


/*********************************/
/*  duration                     */
/*********************************/

.duration {
    color: var(--accent-4);
    font-family: var(--font-heading);
}


/*********************************/
/*  footer                       */
/*********************************/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
    font-family: var(--font-content);
    color: var(--very-little-white);
    font-size: var(--font-regular);
    padding-bottom: 3rem;
    padding-top: 3rem;
    /*background-image: linear-gradient(to bottom, var(--black) 1%, hsla(304, 51%, 9%, 1));*/
    background-image: linear-gradient(to bottom, var(--black) 1%, black);
}



/*********************************/
/*  for players                  */
/*********************************/

.for-players {
    color: var(--accent-3);
    font-family: var(--font-heading);
    font-weight: var(--font-weight-heading);
}

a.for-players:hover {
    color: var(--accent-3);
}


/*********************************/
/*  form                         */
/*********************************/

.form-control {
    background-color: hsla(234, 51%, 3%, 1);
    color: var(--less-white);
    border: none;
    font-size: var(--font-regular);
    font-weight: var(--font-weight-content);
    line-height: 1.65em;
    border-top: solid 1px hsla(204, 57%, 55%, .2);
    border-bottom: solid 1px hsla(204, 57%, 55%, .2);
    border-radius: 0px;
}

.form-control:focus {
    background-color: hsla(234, 51%, 3%, 1);
    color: var(--white);
    border-top: solid 1px hsla(204, 57%, 55%, .4);
    border-bottom: solid 1px hsla(204, 57%, 55%, .4);
    box-shadow: 0px .6rem 1rem -0.65rem var(--accent-1);
}

.form-control:disabled, .form-control[readonly] {
    background-color: hsla(234, 51%, 3%, 1);
    opacity: 1;
}

.form-control-label {
    color: var(--less-white);
}

select option {
    background-color: var(--background);
}

select option:hover {
    background-color: var(--black);
}

.form-text {
    text-align: right;
}

/*.form-group .title {*/
/*    color: var(--accent-5);*/
/*}*/

/*********************************/
/*  h1, h2, h3, h4, h5, h6       */
/*********************************/

h1, h2, h3, h4, h5, h6 {
    margin-top: var(--spacing-none);
    margin-right: var(--spacing-none);
    margin-left: var(--spacing-none);
    margin-bottom: var(--spacing-small);
    font-family: var(--font-heading);
    font-weight: var(--font-weight-heading);
    color: var(--accent-1);
}

.content h1 {
    font-size: var(--font-large);
    text-align: center;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-size: var(--font-regular);
    text-align: center;
}


/*********************************/
/*  help-text                    */
/*********************************/

.help-text-link {
    font-family: var(--font-heading);
    font-size: var(--font-small);
    color: var(--even-less-white);
}

.help-text-link:hover {
    color: var(--accent-5);
}

/*********************************/
/*  home-container               */
/*********************************/

.home-container {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.home-container a.btn {
    font-family: var(--font-heading);
    font-size: 3rem;
    line-height: 1.2;
    box-shadow:
    0px .5em .8em -.5em var(--accent-1), 0px 2em 1em -1em var(--accent-1), 0px -.5em .5em -.5em var(--accent-1), 0px -2em 1em -1em var(--accent-1);
}

.home-label
{
    font-family: var(--font-heading);
    font-size: 3rem;
    line-height: 1.2;
    background: rgb(58,177,219);
    background: var(--gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 1px 8px var(--accent-1);
}

.home-middle {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.home-label span {
    /*box-shadow:*/
    /*0px .5em .8em -.5em var(--accent-1), 0px 2em 1em -1em var(--accent-1), 0px -.5em .5em -.5em var(--accent-1), 0px -2em 1em -1em var(--accent-1);*/
}


a.home-link {
    color: var(--accent-5);
}

a.home-link:focus,
a.home-link:hover {
    color: var(--accent-5);
}

.word, .pronunciation, .definition {
    font-family: var(--font-serif);
    font-weight: var(--font-weight-content);
    font-size: var(--font-large);
}

.word {
    color: var(--accent-1);
}

.pronunciation, .definition {
    color: var(--less-white);
}

.pronunciation {
    color: var(--even-less-white);
}

.home-title {
    font-size: var(--font-extra-large);
    color: var(--accent-5);
    font-family: var(--font-heading);
    font-weight: 500;
}

.home-card-title {
    font-family: var(--font-heading);
    font-size: var(--font-extra-large);
}

.accent-1  {
    color: var(--accent-1);
}

.accent-2  {
    color: var(--accent-2);
}

.accent-3  {
    color: var(--accent-3);
}

.accent-4 {
    color: var(--accent-4);
}


.home-grid {
    display: grid;
    align-items: center;
    grid-gap: var(--spacing-large);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
}

.home-grid > div {
    height: 100%;
}

section {
    min-height: 60vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;

}

.section-small {
    min-height: 50vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.action-call {
    font-size: var(--font-extra-large);
    font-family: var(--font-heading);
    color: var(--accent-5);
    text-align: center;
    border: 1px solid var(--accent-1);
    padding: 1.5rem;
    box-shadow: 0 0 1rem 0rem var(--accent-1), 0 0 5rem 0rem var(--accent-1);
}

.action-call:hover,
.action-call:focus,
.action-call:hover {
    color: var(--accent-5);
    box-shadow: 0 0 1rem 0rem var(--accent-1),
    0 0 3rem 0rem var(--accent-1),
    0 0 5rem 0rem var(--accent-5);
}

.action-call svg {
    margin-left: 1rem;
}

.blue {
    color: var(--accent-1);
}

/*section:nth-child(even) div.container-md {*/
/*    border-left: 1px dashed var(--very-little-white);*/
/*}*/

/*section:nth-child(odd) div.container-md {*/
/*    border-right: 1px dashed var(--very-little-white);*/
/*}*/

.grid-two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: var(--spacing-large);
    align-items: center;
    grid-auto-rows: 1fr;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.small-wrapper {
    max-width: 38rem;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.small-card {
    padding-top: var(--spacing-extra-large);
    padding-bottom: var(--spacing-extra-large);
}


@media screen and (min-width: 700px) {
    .small-wrapper-left {
        padding-left: 15rem;
    }
    .small-wrapper-right {
        padding-right: 15rem;
    }
}

.white {
    color: var(--white);
}

/*********************************/
/*  hr                           */
/*********************************/

hr {
    display: block;
    height: .15em;
    width: 100%;
    background-image: linear-gradient(90deg, hsla(204, 57%, 55%, .25) 5%, hsla(204, 57%, 55%, .08) 50%, hsla(204, 57%, 55%, .25) 95%);
    /*border-top: 5px solid hsla(204, 57%, 55%, .15);*/
}

.card hr {
    margin-top: var(--spacing-none);
    margin-bottom: var(--spacing-medium);
}


/*********************************/
/*  item-menu                    */
/*********************************/

.item-menu {
    position: absolute;
    top: 0px;
    right: 0px;
}

.item-menu .btn {
    color: var(--even-less-white);
    font-size: var(--font-extra-large);
}

.item-menu .dropdown-toggle:before {
    content: none;
}

.item-menu .dropdown-item {
    color: var(--less-white);
}

.dropdown-menu {
    background-color: var(--elevated-background);
    box-shadow: 0rem 0px 1rem .3rem var(--black);
    min-width: 3rem;
    padding: var(--spacing-none);
}

.dropdown-menu .page-controls {
    flex-direction: column;
    padding: var(--spacing-small);
}

.dropdown-menu .page-controls {
    flex-direction: column;
}

.dropdown-menu .page-control {
    margin-bottom: 1rem;
}

.dropdown-menu .page-control:last-child {
    margin-bottom: 0px;
}



/*********************************/
/*  landing                      */
/*********************************/

.ob-li {
    list-style: none;
}

.ob-btn {
    font-family: var(--font-heading);
    font-size: var(--font-large);
}

.ob-blue {
    color: var(--accent-1);
}

.ob-green {
    color: var(--accent-2);
}

.ob-purple {
    color: var(--accent-3);
}

a.ob-btn:hover,
a.ob-btn:focus {
    color: var(--accent-5);
}



/*********************************/
/*  list                         */
/*********************************/

.content ul {
    list-style: none
}

.content ul li::before {
    content: "•";
    color: var(--accent-3);
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

.content ol {
    list-style: none;
    counter-reset: li;
}

.content ol li {
    counter-increment: li;
}

.content ol li::before {
    content: counter(li);
    color: var(--accent-3);
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl;
}


/*********************************/
/*  measure                        */
/*********************************/

.measure {
    border-radius: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--spacing-large);
}

.measure-content {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

.measure-t-and-d {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--spacing-medium);
}

.dynamic {
    text-align: right;
}

@media screen and (min-width: 700px) {
    .measure {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: var(--spacing-large);
        grid-row-gap: var(--spacing-medium);
    }

    .measure-t-and-d {
        grid-column: 3;
        display: flex;
        flex-direction: column;

    }

    .measure .page-controls {
        grid-column: span 2;
        grid-row: 2;
        margin-top: var(--spacing-none);
    }

    .measure-t-and-d  > div:first-child {
        margin-top: var(--spacing-large);
    }

    .measure-t-and-d  > div {
        margin-bottom: var(--spacing-medium);
    }

    .measure-t-and-d  > div:last-child {
        margin-bottom: var(--spacing-none);
    }

    .dynamic {
        text-align: left;
    }

}

.measure .duration {
    grid-column: 2;
    grid-row: 1;
    margin-top: var(--spacing-medium);
}

.measure .page-controls {
    grid-column: span 2;
    grid-row: 3;
    margin-top: var(--spacing-medium);
}



.tempo-name, .dynamic-name {
    font-family: var(--font-heading);
    font-size: var(--font-large);
    color: var(--accent-2);
}

.tempo-description, .dynamic-description {
    font-family: var(--font-heading);
    font-size: var(--font-small);
    color: var(--even-less-white);
    line-height: 1.5;
}



/*********************************/
/*  metadata                     */
/*********************************/

.metadata-row {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    margin-top: -.2rem; /* too much space under the duration, because there are no descenders. */
    font-family: var(--font-content);
    font-size: var(--font-small);
    color: var(--even-less-white);
}


.metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 700px) {
  .metadata {
    flex-direction: column;
  }
}


.metadata a:hover,
.metadata a:focus {
    color: var(--accent-5);
}



/*********************************/
/*  modal                        */
/*********************************/

.modal-dialog,
.modal-header,
.modal-content,
.modal-footer {
    background-color: var(--background);
    color: var(--less-white);
    font-family: var(--font-heading);
}

.modal-title {
    color: var(--accent-1);
}

button.close,
button.close:hover {
    color: var(--less-white);
}

.modal-header,
.modal-footer  {
    border: 0px;
}


/*********************************/
/*  navbar                       */
/*********************************/

nav.navbar {
    max-width: var(--max-width);
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
    font-family: var(--font-heading);
    font-weight: 500;
}



@media screen and (max-width: 700px) {
  nav.navbar {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
  }
}

.navbar .navbar-toggler {
    background-color: var(--transparent);
    color: var(--even-less-white);
}

.navbar-brand {
    font-size: var(--font-extra-extra-large);
    color: var(--even-less-white);
}

.nav-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr minmax(20px, auto);
    gap: var(--spacing-medium);
    margin-top: var(--spacing-medium);
}

.nav-primary .nav-link {
    font-size: var(--font-extra-large);
    color: var(--even-less-white);
}

.nav-secondary .nav-link {
    font-size: var(--font-large);
    color: var(--even-less-white);
}

.navbar-brand span,
.navbar-brand span,
.nav-link:focus span,
.nav-link:hover span {
    transition: var(--transition);
    background: var(--accent-1);
    background: var(--gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-brand:focus span,
.navbar-brand:hover span {
    text-shadow: 0 2px 3px var(--accent-1);
}

/*.navbar-brand span,*/
/*.navbar-brand span,*/
/*.nav-link:focus span,*/
/*.nav-link:hover span {*/
/*    transition: var(--transition);*/
/*    background: var(--accent-1);*/
/*    background: var(--gradient-1);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*}*/

button.navbar-toggler {
    font-size: 1.7em;
}

button.navbar-toggler svg *  {
    fill: var(--even-less-white);
}

button.navbar-toggler svg  {
    overflow: visible;
}

/*button.navbar-toggler:hover svg *,*/
/*button.navbar-toggler:focus svg * {*/
/*    fill: url(#rg);*/
/*    transition: var(--transition);*/
/*}*/

button.navbar-toggler svg *,
button.navbar-toggler svg * {
    fill: url(#rg);
    transition: var(--transition);
}

/*button.navbar-toggler:hover svg *,*/
/*button.navbar-toggler:focus svg * {*/
/*    fill: var(--less-white);*/
/*    transition: var(--transition);*/
/*}*/

#Layer_1:hover,
#Layer_1:focus {
    transition: var(--transition);
    filter: drop-shadow(0 2px 3px var(--accent-1));
}


button.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler[aria-expanded="true"] svg * {
    transform-origin: top left;
    transform: rotate3d(0, 0, 1, 20deg);
    transition: var(--transition);
}

.navbar-slogan {
    grid-row: 3;
    grid-column: 1 / 3;
    font-family: var(--font-content);
    font-size: var(--font-regular);
    color: var(--even-less-white);
    margin-bottom: var(--spacing-large);
}

/*********************************/
/*  player                       */
/*********************************/

.player {
    color: var(--accent-3);
    font-family: var(--font-heading);
}


/*********************************/
/*  page-controls                */
/*********************************/

.page-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /*margin: auto;*/
}

.page-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.3em;
    height: 2.3em;
    padding: .7rem;
    border-radius: 50%;
    border: 2px solid var(--black);
    background-color: var(--black);
    text-align: center;
    vertical-align: center;
    color: var(--even-less-white);
    font-size: var(--font-extra-large);
}

.empty-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.3em;
    height: 2.3em;
    padding: .7rem;
    border-radius: 50%;
    /*border: 2px solid var(--black);*/
    /*background-color: var(--black);*/
    text-align: center;
    vertical-align: center;
    color: var(--even-less-white);
    font-size: var(--font-extra-large);
}

/*.page-control:hover ,*/
/*.page-control:focus  {*/
/*    transition: var(--transition);*/
/*    box-shadow:*/
/*             0px 0px .2em .1rem var(--accent-1)*/
/*            ,0px 0px .75em 0rem var(--accent-1);*/
/*}*/

/*.page-control:hover svg *,*/
/*.page-control:focus svg * {*/
/*    transition: var(--transition);*/
/*    fill: url(#rg);*/
/*}*/


.page-control:hover ,
.page-control:focus  {
    transition: var(--transition);
    box-shadow:
             0px 0px .2em .1rem var(--accent-1)
            ,0px 0px .75em 0rem var(--accent-1);
}


.page-control,
.page-control  {
    transition: var(--transition);
    box-shadow:
            0px 0px .2em .1rem hsla(204, 57%, 55%, .3),
            0px 0px .75em 0rem hsla(204, 57%, 55%, .3);
}

.page-control svg *,
.page-control svg * {
    transition: var(--transition);
    fill: url(#rg);
}


.page-control .btn,
.page-control a {
    /*color: var(--even-less-white);*/
    font-size: var(--font-extra-large);
}



/*********************************/
/*  post-header-row             */
/*********************************/


.post-header-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    align-items: center;
    column-gap: var(--spacing-small);
    row-gap: var(--spacing-small);
}

.post-header-row .title {
    grid-column: span 2;
    grid-row: 1;
    font-size: var(--font-large);
}

.post-header-row .composer {
    grid-column: 1;
    grid-row: 2;
    font-size: var(--font-regular);
}

.post-header-row .created {
    grid-column: 2;
    grid-row: 2;
    font-size: var(--font-small);
    color: var(--less-white);
}


/*********************************/
/*  score-header-row             */
/*********************************/


.score-header-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: start;
    align-items: center;
    column-gap: var(--spacing-small);
    row-gap: var(--spacing-small);
}

.score-header-row .title {
    grid-column: span 6;
    grid-row: 1;
    font-size: var(--font-large);
}

.score-header-row .composer {
    grid-column: 1 / 3;
    grid-row: 3;
    font-size: var(--font-regular);
}

.score-header-row .for-players {
    grid-column: 3 / 6;
    grid-row: 3;
    font-size: var(--font-regular);
}

.score-header-row .duration {
    grid-column: 6;
    grid-row: 3;
    font-size: var(--font-regular);
}

.score-header-row .content {
    grid-column: span 6;
    grid-row: 2;
}

.score-header-row .themes {
    position: absolute;
    bottom: 0;
    font-family: var(--font-content);
    font-size: var(--font-small);
    color: rgba(255, 255, 255, .28);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 1rem;
}

.score-header-row .themes a {
    margin-left: .5rem;
}

.score-header-row .themes a:hover,
.score-header-row .themes a:focus {
    color: var(--accent-5);
}

/*********************************/
/*  search-form                  */
/*********************************/

.search-form {
    display: flex;
    justify-content: space-between;
    justify-items: stretch;
    align-content: center;
    align-items: center;
}

.search-form input {
    width: 100%;
    margin-right: var(--spacing-small);
}

.search-result.hover,
.search-result:focus {
    box-shadow: 0px 1rem 6px -0.75rem var(--accent-1);
}


/*********************************/
/*  the-end                      */
/*********************************/

.the-end {
    text-align: center;
    font-family: var(--font-heading);
    font-size: var(--font-extra-extra-large);
    color: var(--accent-5);
    text-shadow: var(--heading-text-shadow);
}

.ending-actions {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: var(--spacing-medium);
}

.ending-actions .content {
    text-align: right;
    grid-column: 1;
}

.ending-actions .page-controls {
    justify-content: center;
    grid-column: 2;
}


/*********************************/
/*  table                        */
/*********************************/

.table {
    color: inherit;
}

/*********************************/
/*  title                        */
/*********************************/

.title {
    font-family: var(--font-heading);
    color: var(--accent-1);
}

a.title:hover {
    color: var(--accent-1);
}

/*.title:hover span {*/
/*    background: var(--accent-1);*/
/*    background: var(--gradient-1);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*}*/


/*********************************/
/*  user summary                 */
/*********************************/

.user-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: var(--spacing-small);
}

.user-summary .composer {
    font-size: var(--font-large);
    grid-row: 1;
    grid-column: span 2;
}

.user-summary .scores {
    font-size: var(--font-regular);
    font-family: var(--font-heading);
    color: var(--accent-1);
}

.user-summary .posts {
    font-size: var(--font-regular);
    font-family: var(--font-heading);
    color: var(--accent-4);
}


/*********************************/
/*  variation                    */
/*********************************/


.variation {
    font-family: var(--font-serif);
    font-weight: var(--font-weight-heading);
    font-size: var(--font-regular);
    margin-top: var(--font-regular);
    text-align:  center;
}

.variation .composer,
.variation .title {
    color: inherit;
}