{% extends "base.html" %}

{% block content %}

<div class="container-md ">
    <div class="home-middle">
      <div class="">
          <p class="text-center">
              <span class="content white">
                  That's great. Let's get started!
              </span>
          </p>
      </div>
    </div>
    <div class="card orange-card">
        <p class="text-center">
            <span class="accent-4 home-card-title"> Better Communication</span>
        </p>
        <p class="content">
           It's really hard to talk about sex. Whether you're afraid of being embarrassed, or offending you're partner, you are not alone. We get it. But it doesn't have to be that way.  kamagapē is a communication medium, making it fun to talk about sex, and ensures both partners have a voice.
        </p>
    </div>
    <div class="card">
        <p class="content">
            Would you like to try . . .
        </p>
        <ul>
            <li class="ob-li">
                <a class="btn ob-btn ob-blue" href="{{ url_for('main.sample', score_path='Verbally-Getting-it-On__by__m') }}">Verbally Getting It On</a>
            </li>
            <li class="ob-li">
                <a class="btn ob-btn ob-green" href="{{ url_for('main.sample', score_path='Overcoming-embarrassment----Asking-for-what-you-want-and-like.__by__m') }}">Overcoming Embarrassment</a>
            </li>
            <li class="ob-li">
                <a class="btn ob-btn ob-purple" href="{{ url_for('main.sample', score_path='36-Questions__by__i') }}">36 Questions</a>
            </li>
        </ul>
    </div>

</div>


{% endblock %}