{% extends "base.html" %}

{% block content %}

<div class="container-md ">
    <div class="home-middle">
      <div class="">
          <p class="text-center">
              <span class="content white">
                  We got ya covered.
              </span>
          </p>
      </div>
    </div>
        <div class="card green-card">
            <p class="">
                <span class="accent-2 home-card-title">A Dose of Spice</span>
            </p>
            <p class="content">
                There's no manual for your body, or for your partner's. But learning what feels good doesn't have to be a trial-and-error process. People have been writing about sex for thousands of years: there's no shortage of ideas and techniques.
            </p>
            <p class="content accent-2">
                A single source for the best ideas for couples.
            </p>
        </div>
    <div class="card">
        <p class="content">
            What are you in the mood for?
        </p>
        <ul>
            <li class="ob-li">
                <a class="btn ob-btn ob-blue" href="{{ url_for('main.sample', score_path='Variation-on-Chocolate-for-Two__by__m') }}">Something Sweet</a>
            </li>
            <li class="ob-li">
                <a class="btn ob-btn accent-4" href="{{ url_for('main.sample', score_path='Game-Night__by__i') }}">Something Fun</a>
            </li>
            <li class="ob-li">
                <a class="btn ob-btn ob-purple" href="{{ url_for('main.sample', score_path='Kissing-with-Passion__by__m') }}">Something Intense</a>
            </li>
        </ul>
    </div>

</div>


{% endblock %}